.main-chat-wrap {
 position: relative;
 height: 100%;
 box-sizing: border-box;
 header {
  height: 100px;
  font-size: 28px;
  text-align: center;
  line-height: 100px;
  background: #f8f8f8;
  span {
   font-size: 30px;
  }
  i {
   position: absolute;
  }
 }
 .chat-wrap {
  height: calc(100% - 260px);
  ul {
   position: relative;
   height: 100%;
   overflow: auto;
   padding: 30px 30px 0;
   -webkit-overflow-scrolling: touch;
   .chat-time {
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    color: #afafaf;
   }
   li {
    margin: 20px 0;
    letter-spacing: 1px;
   }
   .chat-left-wrap {
    display: flex;
    p {
     display: flex;
     flex-flow: column;
     max-width: 75%;
     margin-left: 10px;
     .name {
      color: #333;
      font-size: 24px;
      padding-bottom: 4px;
     }
     .content {
      word-break: normal;
      width: auto;
      display: block;
      white-space: pre-wrap;
      word-wrap: break-word;
      overflow: hidden;
      font-size: 28px;
      background: #fff;
      padding: 20px;
     }
     .group-info-content{
      border-radius: 10px;
      font-size: 28px;
      background: #fff;
      max-width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      .group-name{
       margin: 10px 20px;
       display: flex;
       flex-flow: column;
       span:nth-child(1){
        font-size: 30px;
       }
      }
     }
    }
    img {
     flex: 0 0 80px;
     width: 80px;
     height: 80px;
     border-radius: 20px;
    }
   }
   .chat-right-wrap {
    display: flex;
    justify-content: flex-end;
    p {
     display: flex;
     align-items: flex-end;
     flex-flow: column;
     max-width: 75%;
     margin-right: 10px;
     .name {
      color: #333;
      font-size: 24px;
      padding-bottom: 4px;
     }
     .content {
      word-break: normal;
      width: auto;
      display: block;
      white-space: pre-wrap;
      word-wrap: break-word;
      overflow: hidden;
      font-size: 28px;
      background: #fff;
      padding: 20px;
      max-width: 100%;
      border-radius: 10px;
     }
     .group-info-content{
      font-size: 28px;
      background: #fff;
      max-width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      .group-name{
       display: flex;
       flex-flow: column;
       span{
        padding: 10px;
       }
      }
     }
    }
    img {
     flex: 0 0 80px;
     width: 80px;
     height: 80px;
     border-radius: 20px;
    }
   }
  }
 }
 footer {
  position: absolute;
  width: 100%;
  padding: 0 30px;
  bottom: 0;
  height: 150px;
  background: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  .chat-input-wrap {
   margin: 0;
   padding: 0;
   height: 80px;
  }
  textarea {
   padding: 4px 10px;
  }
 }
}
