.group-wrap {
 position: relative;
 height: 100%;
 background: #EDEDED;
 box-sizing: border-box;
 .goback{
  position: absolute;
  left: 20px;
  top: 20px;
}
.group-friend{
  height: 350px;
  overflow: auto;
}
.sign-friend{
  img{
    height: 80px;
    width: 80px;
    border-radius: 10px;
    margin-right: 10px;
  }
  div{
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    .friend-name{
      font-size: 30px;
    }
    .leave{
      font-size: 14px;
      color: #FF3364;
      margin-right: 10px;
    }
    .online{
      font-size: 14px;
      color: #16ac15;
    }
  }
  display: flex;
  align-items: center;
}
 .my-top{
  height: 300px;
  display: flex;
  padding: 0 30px;
  box-sizing: border-box;
  align-items: center;
  background: #fff;
  font-size: 32px;
  img{
   display: inline-block;
   width: 120px;
   height: 120px;
   border: none;
   border-radius: 10px;
   margin-right: 20px;
  }

  p{
   display: flex;
   flex-flow: column;
   span:nth-child(1){
     margin-bottom: 30px;
   }
   span:nth-child(2){
    color: #818181;
    font-size: 26px ;
  }
  }
 }
}
