.home {
 position: relative;
 height: 100%;
 background: #fff;
 box-sizing: border-box;
 header {
  height: 100px;
  font-size: 28px;
  text-align: center;
  line-height: 100px;
  background: #f8f8f8;
  span {
   font-size: 30px;
  }
  i {
   position: absolute;
   right: 20px;
  }
 }
 .chats-wrap {
  height: calc(100% - 200px);
  overflow: auto;
  .chat-item {
   width: 100%;
   height: 120px;
   font-size: 24px;
   display: flex;
   padding: 0 20px;
   box-sizing: border-box;
   align-items: center;
   .chat-item-left {
    position: relative;
    flex: 0 0 100px;
    .badge-my{
     position:absolute;
     right:-5px;
     top:-5px;
    }
    img {
     display: inline-block;
     width: 90px;
     height: 90px;
     border-radius: 10px;
    }
   }
   .chat-item-right {
    width: 85%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 10px;
    height: 100px;
    border-bottom: 1px solid #f6f6f6;
    p {
     padding: 6px 0;
    }
    .chat-name-date {
     display: flex;
     width: 100%;
     justify-content: space-between;
     span:nth-child(2){
      color: #b9b9b9;
     }
    }
    .chat-fonts {
     color: #b9b9b9;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space:nowrap;
    }
   }
  }
 }
}
