@import './assets/fonts/iconfont.css';
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
html{
  background: #fff;
}
html,body{
  height: 100%;
  width: 100%;
}
body {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  max-width: 750px;
  min-width: 320px;
}
#root{
  position: relative;
  height: 100%;
}
.greenColor {
  color: #16ac15;
 }
 .greenBg {
  background: #16ac15;
 }